@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Aqui começa o CSS do header */

/* Menu de Navegação */

.header-menu{
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgb(100, 72, 72);
}

#menu ul{
    list-style: none;
    padding: 0;
    text-align: right;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    color: aliceblue;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu ul li a:hover{
    background-color: rgb(15, 100, 228);
    color: rgb(255, 255, 255);
}

#menu ul li:first-child a{
    float: left;
}

/* Aqui começa o CSS da main */

/* Introdução */

.main{
    padding-top: 150px;
    background-color: rgb(143, 78, 78);
}

/*  */

.introdução{
    display: flex;
    align-items: center;
}

.apresentação h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.apresentação h1{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.apresentação span{
    color: rgb(10, 13, 218);
}

.apresentação h2{
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-weight: 300;
}

#foto-perfil{
    width: 350px;
}

/* Sobre mim */

.sobre-mim{
    padding-top: 100px;
    padding-left: 131.344px;
}

.sobre-mim h1{
    font-size: 40px;
}

.sobre-mim p{
    font-size: 20px;
    width: 500px;
    margin-left: 0;
}

/* Skills */

.skills{
    padding-top: 100px;
    padding-left: 131.344px;
}

.skills h1{
    font-size: 40px;
}

.skills p{
    font-size: 20px;
    width: 500px;
    margin-left: 0;
}

#skills p span{
    color: aliceblue;
}

/* Experiências */

.experiências{
    padding-top: 100px;
}

.experiências-textos{
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.experiências-textos ul{
    list-style: none;
}

.experiências h1{
    font-size: 40px;
    padding-left: 131.344px;
}

.experiências p{
    font-size: 20px;
    width: 500px;
}

#experiências p span{
    color: aliceblue;
}

#foto-empresa{
    width: 500px;
    border-radius: 10px;
}

/* Projetos */

.projetos{
    padding-top: 100px;
    padding-bottom: 100px;
}

.projetos h1{
    font-size: 40px;
    padding-left: 131.344px;
}

.projetos p{
    font-size: 20px;
    width: 500px;
}

.projetos-descrições {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.projetos-descrições ul{
    list-style: none;
}

#foto-rosa{
    width: 500px;
    border-radius: 20px;
}

/* Aqui termina o CSS da main */

/* Aqui começa o CSS do footer */

/* Rodapé */

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: brown;
}

.textos {
    padding: 15px;
    display: flex;
    justify-content: space-between; /* verificar se vai precisar utilizar essa linha mesmo ao final do projeto */
    align-items: center;
}

.textos ul{
    list-style: none;
}

.conexao{
    text-align: left;
}

.contatos{
    text-align: center;
}