/* ------------------------------- RODAPÉ ------------------------------- */

.footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #005663;
}

.textos {
    padding: 15px;
    display: flex;
    justify-content: space-between; /* verificar se vai precisar utilizar essa linha mesmo ao final do projeto */
    align-items: center;
}

.textos ul{
    list-style: none;
    font-size: large;
}

.conexao{
    text-align: left;
}

.conexao h1{
    margin-bottom: 10px;
}

.contatos{
    text-align: center;
}

.contatos h1{
    margin-bottom: 5px;
}

.contatos li a{
    color: rgb(255, 255, 255);
    transition: .4s;
    display: block;
}

.contatos li a:hover{
    color: #ACFFFA;
    transform: translateX(-12px);
}