/* ------------------------------- PROJETOS ------------------------------- */

.projetos{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px; /* Ver se tirando esse padding fica mais bonito */
}

.projetos h1{
    font-size: 40px;
    padding-left: 131.344px;
}

.projetos p{
    font-size: 20px;
}

.projetos-descrições {
    padding-left: 100px;
}

.projetos-descrições ul{
    list-style: none;
}

/* ------------------------------- PROJETOS ------------------------------- */

/* ------------------------------- INÍCIO SEU PC TANKA ------------------------------- */

.projeto-rosa{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.projeto-rosa p{
    width: 500px;
}

#foto-rosa{
    width: 500px;
    border-radius: 20px;
    transition: .4s;
}

#foto-rosa:hover {
    transform: scale(1.1); /* aumenta a escala da imagem durante o hover */
}

/* ------------------------------- FIM SEU PC TANKA ------------------------------- */

/* ------------------------------- INÍCIO CAPJu -------------------------------*/

.projeto-capju{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.projeto-capju p{
    width: 560px;
}

#foto-capju{
    margin-top: 25px;
    width: 500px;
    border-radius: 20px;
    transition: .4s;
    background-color: white;
}

#foto-capju:hover {
    transform: scale(1.1); /* aumenta a escala da imagem durante o hover */
}

/* ------------------------------- FIM CAPJu ------------------------------- */

/* ------------------------------- INÍCIO FOGUETE ------------------------------- */

.projeto-foguete{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.projeto-foguete p{
    width: 550px;
}

#foto-foguete{
    width: 500px;
    border-radius: 20px;
    transition: .4s;
}

#foto-foguete:hover {
    transform: scale(1.1); /* aumenta a escala da imagem durante o hover */
}

/* ------------------------------- FIM FOGUETE ------------------------------- */

/* ------------------------------- INÍCIO FOGUETE ------------------------------- */

.projeto-bot{
    display: flex;
    align-items: center;
    /* margin-bottom: 100px; */
}

.projeto-bot p{
    width: 550px;
}

#foto-bot{
    width: 400px;
    border-radius: 20px;
    transition: .4s;
}

#foto-bot:hover {
    transform: scale(1.1); /* aumenta a escala da imagem durante o hover */
}

/* ------------------------------- FIM FOGUETE ------------------------------- */

/* ------------------------------- INÍCIO NOVO PROJETO ------------------------------- */

/* .projeto-2{ CSS DE FUTUROS PROJETOS
    display: flex;
    align-items: center;
    padding-bottom: 100px;
} */

/* ------------------------------- FIM NOVO PROJETO ------------------------------- */